<div class="bottom-menu">
  <%= link_to "Users", user_manager_users_path, class: 'bottom-menu-link' %>
  <%= link_to "Global Media Settings", media_time_media_global_setting_path,  class: 'bottom-menu-link' %>
  <%= link_to "Login Display", media_time_login_display_path,  class: 'bottom-menu-link' %>
</div>