<div class="footer grid_footer">
  <%= link_to "Global Media Settings", media_time_media_global_setting_path,  class: 'footer-link' %>
  <%= link_to "Groups", user_manager_groups_path,  class: 'footer-link' %>
  <%= link_to "Login Display", media_time_login_display_path,  class: 'footer-link' %>
</div>