<dialog id="turbo-confirm">
  <div class="turbo-confirm-background">
    <form method="dialog" class="card card--no-transparency">
      <div class="card-big-title">Bist du sicher?</div>
      <p class="card-content"></p>
      <div class="card-actions">
        <button value="cancel" class="btn mr-2">Abbrechen</button>
        <button value="confirm" class="btn btn-red">Löschen</button>
      </div>
    </form>
  </div>
</dialog>