html  {
  height: 100%;
}
.body {
  font-family: helvetica, verdana, arial, sans-serif;
  background-color: #ffffff;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 8px;
}
.container-title {
  font-size: x-large;
  margin-bottom: 20px;
}
.container-content {
}
.container-actions {
  margin-top:20px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #146e55;
  margin-bottom: 8px;
  padding: 8px;
  color: white;
 }
.navbar-title {
  font-size: larger;
  font-weight: bold;
}
.bottom-menu {
  justify-self: end;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #9165d2;
  padding: 8px;

}
a.bottom-menu-link:visited {
  color: #ffffff;
  text-decoration: none;
}
a.bottom-menu-link:link {
  font-size: large;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.card {
  border: 2px solid #000000;
  border-radius: 7px;
  padding: 8px;
  margin: 4px;
  margin-bottom: 12px;
  background-color: rgba(37, 107, 86, 0.17);
  box-shadow: 5px 8px 12px #7a7a7a;
}
.card-title {
  font-size: smaller;
  margin-top: -4px;
  margin-left: -4px;
}
.card-content {
  padding: 8px;
  display: block;
  flex-wrap: wrap;
}
.card-actions {
  display: flex;
  justify-content: end;

}
.form__group {
  font-size: medium;
  display: flex;
  justify-content: start;
  margin-bottom: 4px;
  align-items: center;
  padding: 4px;
}
.form__input {
  font-size: medium;
  padding: 6px;
  padding-left: 10px;
  border-radius: 17px;
  border: 1px solid #000000;
  margin-left: 8px;
}
.checkbox {
  width: 24px;
  height: 24px;
}