<%= link_to sanitize("&larr; Zurück zu Entscheidungsgremien"), rulebook_decision_making_units_path %>
<div class="container-title">
  <h1> Entscheidungsgremium bearbeiten </h1>
</div>
<div class="container-content">
  <%= turbo_frame_tag @decision_making_unit do %>
    <div class="card">
      <%= render "form", decision_making_unit: @decision_making_unit %>
    </div>
  <% end %>
</div>

