.avatar-placeholder {
  background-color: rgba(49, 49, 49, 0.21);
  height: 80px;
  width: 80px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: small;
  text-align: center;
  text-decoration: none;
  color: black;
}