.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #146e55;
  padding: 8px;
  color: white;
}
.navbar-title {
  font-size: larger;
  font-weight: bold;
}