.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index:5;
  background: linear-gradient(to bottom,  #0099CC,  #924AFF);
  box-shadow: 5px 8px 12px rgba(0, 0, 0, 0.49);

  padding: 8px;
  color: white;
}
.navbar-title {
  font-size: larger;
  font-weight: bold;
}
.left_nav_bar_toggle {
  background-color: transparent;
  color: white;
  border: none;
  font-size: large;
}

.left_nav_bar_toggle:hover {
  color: #baabe1;
  cursor: pointer;
}