.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to bottom,  #0099CC,  #924AFF);
  padding: 8px;
  color: white;
}
.navbar-title {
  font-size: larger;
  font-weight: bold;
}