.pt-1{
  padding-top: 4px !important;

}
.pt-2{
  padding-top: 8px !important;

}
.pt-3{
  padding-top: 12px !important;

}
.pt-4{
  padding-top: 16px !important;

}
.pt-5{
  padding-top: 20px !important;

}
.pt-6{
  padding-top: 24px !important;

}
.pt-7{
  padding-top: 28px !important;

}
.pt-8{
  padding-top: 32px !important;

}
.pt-9{
  padding-top: 36px !important;

}
.pt-10{
  padding-top: 40px !important;

}
.pt-11{
  padding-top: 44px !important;

}
.pt-12{
  padding-top: 48px !important;

}
.pb-1{
  padding-bottom: 4px !important;

}
.pb-2{
  padding-bottom: 8px !important;

}
.pb-3{
  padding-bottom: 12px !important;

}
.pb-4{
  padding-bottom: 16px !important;

}
.pb-5{
  padding-bottom: 20px !important;

}
.pb-6{
  padding-bottom: 24px !important;

}
.pb-7{
  padding-bottom: 28px !important;

}
.pb-8{
  padding-bottom: 32px !important;

}
.pb-9{
  padding-bottom: 36px !important;

}
.pb-10{
  padding-bottom: 40px !important;

}
.pb-11{
  padding-bottom: 44px !important;

}
.pb-12{
  padding-bottom: 48px !important;

}
.pr-1{
  padding-right: 4px !important;

}
.pr-2{
  padding-right: 8px !important;

}
.pr-3{
  padding-right: 12px !important;

}
.pr-4{
  padding-right: 16px !important;

}
.pr-5{
  padding-right: 20px !important;

}
.pr-6{
  padding-right: 24px !important;

}
.pr-7{
  padding-right: 28px !important;

}
.pr-8{
  padding-right: 32px !important;

}
.pr-9{
  padding-right: 36px !important;

}
.pr-10{
  padding-right: 40px !important;

}
.pr-11{
  padding-right: 44px !important;

}
.pr-12{
  padding-right: 48px !important;

}
.pa-1{
  padding: 4px !important;

}
.pa-2{
  padding: 8px !important;

}
.pa-3{
  padding: 12px !important;

}
.pa-4{
  padding: 16px !important;

}
.pa-5{
  padding: 20px !important;

}
.pa-6{
  padding: 24px !important;

}
.pa-7{
  padding: 28px !important;

}
.pa-8{
  padding: 32px !important;

}
.pa-9{
  padding: 36px !important;

}
.pa-10{
  padding: 40px !important;

}
.pa-11{
  padding: 44px !important;

}
.pa-12{
  padding: 48px !important;

}
.pa-n1{
  padding: -4px !important;

}
.pa-n2{
  padding: -8px !important;

}
.pa-n3{
  padding: -12px !important;

}
.pa-n4{
  padding: -16px !important;

}
.pa-n5{
  padding: -20px !important;

}
.pa-n6{
  padding: -24px !important;

}
.pa-n7{
  padding: -28px !important;

}
.pa-n8{
  padding: -32px !important;

}
.pa-n9{
  padding: -36px !important;

}
.pa-n10{
  padding: -40px !important;

}
.pa-n11{
  padding: -44px !important;

}
.pa-n12{
  padding: -48px !important;

}
.pt-n1{
  padding-top: -4px !important;

}
.pt-n2{
  padding-top: -8px !important;

}
.pt-n3{
  padding-top: -12px !important;

}
.pt-n4{
  padding-top: -16px !important;

}
.pt-n5{
  padding-top: -20px !important;

}
.pt-n6{
  padding-top: -24px !important;

}
.pt-n7{
  padding-top: -28px !important;

}
.pt-n8{
  padding-top: -32px !important;

}
.pt-n9{
  padding-top: -36px !important;

}
.pt-n10{
  padding-top: -40px !important;

}
.pt-n11{
  padding-top: -44px !important;

}
.pt-n12{
  padding-top: -48px !important;

}
.pr-n1{
  padding-right: -4px !important;

}
.pr-n2{
  padding-right: -8px !important;

}
.pr-n3{
  padding-right: -12px !important;

}
.pr-n4{
  padding-right: -16px !important;

}
.pr-n5{
  padding-right: -20px !important;

}
.pr-n6{
  padding-right: -24px !important;

}
.pr-n7{
  padding-right: -28px !important;

}
.pr-n8{
  padding-right: -32px !important;

}
.pr-n9{
  padding-right: -36px !important;

}
.pr-n10{
  padding-right: -40px !important;

}
.pr-n11{
  padding-right: -44px !important;

}
.pr-n12{
  padding-right: -48px !important;

}
.pb-n1{
  padding-bottom: -4px !important;

}
.pb-n2{
  padding-bottom: -8px !important;

}
.pb-n3{
  padding-bottom: -12px !important;

}
.pb-n4{
  padding-bottom: -16px !important;

}
.pb-n5{
  padding-bottom: -20px !important;

}
.pb-n6{
  padding-bottom: -24px !important;

}
.pb-n7{
  padding-bottom: -28px !important;

}
.pb-n8{
  padding-bottom: -32px !important;

}
.pb-n9{
  padding-bottom: -36px !important;

}
.pb-n10{
  padding-bottom: -40px !important;

}
.pb-n11{
  padding-bottom: -44px !important;

}
.pb-n12{
  padding-bottom: -48px !important;

}
.pl-n1{
  padding-left: -4px !important;

}
.pl-n2{
  padding-left: -8px !important;

}
.pl-n3{
  padding-left: -12px !important;

}
.pl-n4{
  padding-left: -16px !important;

}
.pl-n5{
  padding-left: -20px !important;

}
.pl-n6{
  padding-left: -24px !important;

}
.pl-n7{
  padding-left: -28px !important;

}
.pl-n8{
  padding-left: -32px !important;

}
.pl-n9{
  padding-left: -36px !important;

}
.pl-n10{
  padding-left: -40px !important;

}
.pl-n11{
  padding-left: -44px !important;

}
.pl-n12{
  padding-left: -48px !important;

}
