<%= link_to sanitize("&larr; Zurück zu Apps"), user_manager_apps_path %>
<div class="container-title">
  <h1> Neue App </h1>
</div>
<%= turbo_frame_tag @app do %>
  <div class="card">
  <%= render "form", app: @app %>
  </div>
<% end %>

