<%= turbo_frame_tag rule do %>
  <div class="card">
    <div class="card-content">
      <div class="list-item">
        <%= link_to rule.title.titleize, rulebook_rule_path(rule), data: { turbo_frame: "_top" } %>
        <div class="list-item-append">
          <% if policy(rule).destroy? %>
            <%= button_to icon('fa-solid', 'trash', class:"fa-1x"), rulebook_rule_path(rule),form: { data: { turbo_confirm: "Möchtest du die Regel #{rule.title.titleize} wirklich löschen?" } }, method: :delete, class: "btn btn-red mr-2"%>
          <% end %>
          <% if policy(rule).update? %>
            <%= link_to icon('fa-solid', 'pen-to-square', class:"fa-1x"), edit_rulebook_rule_path(rule), class: "btn btn-yellow" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>