<%= link_to sanitize("&larr; Zurück zu Regeln"), rulebook_rules_path %>
<div class="container-title">
  <h1> Neue Regel </h1>
</div>
<%= turbo_frame_tag @rule do %>
  <div class="card">
  <%= render "form", rule: @rule %>
  </div>
<% end %>

