<div class="card">
  <div class="card-content">
    Verhalten beim überschreiten der Zeit: <%= @media_global_settings.behavior_on_exceed %>
  </div>
  <div class="card-content">
    Penalty Faktor: <%= @media_global_settings.penalty_factor %>
  </div>
  <div class="card-content">
    Tägliches Zeitlimit: <%= @media_global_settings.daily_time_limit %>
  </div>
  <div class="card-content">
    Maximale Aktive Benutzer: <%= @media_global_settings.max_active_users %>
  </div>
</div>
