<%= turbo_frame_tag "global_media_settings" do %>
  <div class="container-title">
    Edit Global Media Settings
  </div>
  <div class="container-content">
    <%= render "form", media_global_settings: @media_global_settings %>
  </div>
<% end %>