.form__group {
  font-size: medium;
  display: flex;
  justify-content: start;
  margin-bottom: 4px;
  align-items: center;
  padding: 4px;
}
.form__input {
  font-size: medium;
  padding: 6px;
  padding-left: 10px;
  border-radius: 17px;
  border: 1px solid #000000;
  margin-left: 8px;
}
.checkbox {
  width: 24px;
  height: 24px;
}