<%= link_to sanitize("&larr; Zurück zu Typen"), rulebook_rule_types_path %>
<div class="container-title">
  <h1> Regel Typ bearbeiten </h1>
</div>
<div class="container-content">
  <%= turbo_frame_tag @rule_type do %>
    <div class="card">
      <%= render "form", rule_type: @rule_type %>
    </div>
  <% end %>
</div>

