<%= link_to sanitize("&larr; Zurück zu Typen"), rulebook_rule_types_path %>
<div class="container-title">
  <h1> Neue Regel Typ </h1>
</div>
<%= turbo_frame_tag @rule_type do %>
  <div class="card">
  <%= render "form", rule_type: @rule_type %>
  </div>
<% end %>

