<%= link_to sanitize("&larr; Zurück zu Gruppe"), user_manager_group_path(@group) %>
<div class="container-title">
  <h1>Mitgliedschaftslevel bearbeiten</h1>
</div>
<%= turbo_frame_tag @membershiplevel do %>
  <%= render "form", group: @group, membershiplevel: @membershiplevel %>
<% end %>