<%= turbo_frame_tag user do %>
  <div class="card">
    <div class="card-content">
      <div class="list-item">
        <%= link_to user.name.titleize, user_manager_user_path(user), data: { turbo_frame: "_top" } %>
        <div class="list-item-append">
          <% if policy(user).destroy? %>
            <%= button_to icon('fa-solid', 'trash', class:"fa-1x"), user_manager_user_path(user),form: { data: { turbo_confirm: "Möchtest du die Gruppe #{user.name.titleize} wirklich löschen?" } }, method: :delete, class: "btn btn-red mr-2"%>
          <% end %>
          <% if policy(user).update? %>
            <%= link_to icon('fa-solid', 'pen-to-square', class:"fa-1x"), edit_user_manager_user_path(user), class: "btn btn-yellow" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>