<%= link_to sanitize("&larr; Zurück zu Benutzer:innen"), user_manager_users_path %>
<div class="container-title">
  <h1> Neue Benutzer:innen </h1>
</div>
<%= turbo_frame_tag @user do %>
  <div class="card">
  <%= render "form", user: @user %>
  </div>
<% end %>

