<%= link_to sanitize("&larr; Zurück zu Benutzer:innen"), user_manager_users_path %>
<div class="container-title d-flex mt-4 align-center">
  <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar, :size => 80 %>
  <% end %>
  <h1 class="ml-4">
    <%= @user.name.titleize %>
  </h1>
</div>
<div class="container-content">

</div>